body {
    margin: 0;
    padding: 0;              
    background-color: #000000;
}
div#frame_area {
    position: relative;
    width: 100vw;
    height: 100vh;  
    height: 100dvh;  
    margin: 0;  
    padding: 0;     
    overflow: hidden;
    background: #7092BE;
}
div#app_area {
    margin: 0;
    padding: 0;  
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;  
    background: #e0d20b;
}
div#topbar_area {
    margin: 0;
    padding: 0;  
    position: absolute;
    top: 0px;
    height: 7%;
    left: 0px; 
    right: 0px;
    background: #bfcbdf;
}
div#widgets_area {
    margin: 0;
    padding: 0;  
    position: absolute;
    top: 7%;
    height: 93%;
    left: 0px;
    right: 0px;
    background: #a870be;
}
div#input_area {
    margin: 0;
    padding: 0;  
    position: absolute;
    top: 0px;
    height: 15%;
    left: 0px;
    width: 60%;
    background: #b3ddcc;
}
div#workspace_header_area {
    margin: 0;
    padding: 0;  
    position: absolute;
    top: 15%;
    height: 12%;
    left: 0px;
    width: 60%;
    background: #eeeeee;
}
div#workspace_area {
    margin: 0;
    padding: 0;  
    position: absolute;
    top: 27%;
    height: 73%;
    left: 0px;
    width: 60%;
    background: #ffffff;
}
div#slipnet_area {
    margin: 0;
    padding: 0;  
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 60%;
    width: 25%;
    background: #fffbcc;
}
div#coderack_area {
    margin: 0;
    padding: 0;  
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 85%;
    width: 15%;
    background: #ffe5e0;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
p + ul {
    margin-top: -16px;
}

